{{ 'category-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
 .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
     --padding-top: {{ section.settings.mobile_padding_top }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      --padding-top: {{ section.settings.padding_top }}px;
    }
  }
{%- endstyle -%}

<section class="category__image--text__section color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
  <div class="{{ section.settings.container }}">
    <div class="category__image--text__wrapper color-{{ section.settings.color_scheme_2 }} {% if section.settings.container_padding == true %}inner_padding{% endif %} {% if section.settings.container_rounded == true %}rounded{% endif %}">
      {% if section.settings.heading != blank or section.settings.subtitle != blank %}
        <div class="section-heading text-{{ section.settings.text_center }} mb-50 ">
          {% if section.settings.heading_position == 'bottom' and section.settings.subtitle != blank %}
            <span class="section-heading__sub_title">{{- section.settings.subtitle -}}</span>
          {% endif %}
          <h2 class="section-heading__title {% if section.settings.heading_position == "top" %}heading__space--bottom{% endif %} ">
            {{- section.settings.heading -}}
          </h2>
          {% if section.settings.heading_position == 'top' and section.settings.subtitle != blank %}
            <span class="section-heading__sub_title">{{- section.settings.subtitle -}}</span>
          {% endif %}
        </div>
      {% endif %}
      <div class="category__image--text__inner {{ section.settings.category_style }}">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'text_item' %}
              <a
                class="category__item button button--primary"
                href="{{ block.settings.category_text_link }}"
              >
                <span class="category__text {{ section.settings.text_size }}">
                  <span class="category__text--inner text-top"> {{ block.settings.category_text }}</span>
                  <span class="category__text--inner text-bottom"> {{ block.settings.category_text }}</span>
                </span>
              </a>
              <a
                class="category__item text"
                href="{{ block.settings.category_text_link }}"
              >
                <span class="category__text-field {{ section.settings.text_size }}">
                  {{ block.settings.category_text }}
                </span>
              </a>
            {% when 'media_item' %}
              <a
                class="category__item show-image image-width-{{ block.settings.image_size }} {% if block.settings.category_image == blank %}placeholder{% endif %}"
                href="{{ block.settings.image_link }}"
              >
                <div
                  class="media category__media"
                  {% if block.settings.category_image != blank %}
                    style="padding-bottom: {{ 1 | divided_by: block.settings.category_image.aspect_ratio | times: 100  }}%;"
                  {% endif %}
                >
                  {% liquid
                    assign image_height = block.settings.category_image.width | divided_by: block.settings.category_image.aspect_ratio
                  %}

                  {%- if block.settings.video != blank  -%}
                    {{ block.settings.video | video_tag: autoplay: true, loop: true, controls: false, muted: true }}

                  {% elsif block.settings.category_image != blank %}
                    {{
                      block.settings.category_image
                      | image_url: width: 1420
                      | image_tag:
                        loading: 'lazy',
                        width: block.settings.category_image.width,
                        height: image_height,
                        widths: '100, 180, 275, 550, 710, 1420'
                    }}
                  {% else %}
                    {{ 'product-apparel-2' | placeholder_svg_tag }}
                  {% endif %}
                </div>
              </a>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Category image with text",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "Page width",
      "default": "container-fluid",
      "options": [
        {
          "value": "container",
          "label": "Boxed"
        },
        {
          "value": "container-fluid",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Category",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom",
      "label": "Heading position"
    },
    {
      "type": "select",
      "id": "text_center",
      "options": [
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center",
      "label": "Alignment"
    },
    {
      "type": "header",
      "content": "Category setting"
    },
    {
      "type": "select",
      "id": "category_style",
      "label": "Category style",
      "options": [
        {
          "value": "text_style",
          "label": "Olny text"
        },
        {
          "value": "text_button",
          "label": "Button text"
        }
      ],
      "default": "text_style"
    },
    {
      "type": "checkbox",
      "id": "container_padding",
      "label": "Container padding",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "container_rounded",
      "label": "Container rounded",
      "default": false
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Items text size",
      "options": [
        {
          "value": "body",
          "label": "Extra small"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h1",
          "label": "Heading 1"
        }
      ],
      "default": "h3"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_2",
      "default": "background-1",
      "label": "Color scheme in container"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "background-1",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "text_item",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "category_text",
          "label": "Text",
          "default": "Image title"
        },
        {
          "type": "url",
          "id": "category_text_link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "media_item",
      "name": "Media item",
      "settings": [
        {
          "type": "image_picker",
          "id": "category_image",
          "label": "Image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "image_size",
          "label": "Image width",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Category image with text",
      "category": "Storytelling",
      "blocks": [
        {
          "type": "text_item"
        },
        {
          "type": "media_item"
        },
        {
          "type": "text_item"
        },
        {
          "type": "media_item"
        },
        {
          "type": "text_item"
        },
        {
          "type": "media_item"
        },
        {
          "type": "text_item"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  }
}
{% endschema %}
