{{ 'multiple-collection.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
{{ 'section-title.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.mobile_padding_top }}px;
    padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    --padding-top: {{ section.settings.mobile_padding_top }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      --padding-top: {{ section.settings.padding_top }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign container = ''
  assign page_offset = false
  if section.settings.container == 'container'
    assign container = 'container'
  elsif section.settings.container == 'container-fluid'
    assign container = 'container-fluid'
    unless section.settings.show_offset
      assign page_offset = true
    endunless
  else
    assign container = 'container-fluid px-0'
  endif
-%}

<div class="multiple__collection section-{{ section.id }}-padding color-{{ section.settings.color_scheme }}">
  <div class="{{ container }} {% if page_offset %}p-0{% endif %}">
    {% if section.settings.heading != blank or section.settings.subtitle != blank %}
      <div class="section-heading text-{{ section.settings.text_center }} mb-50">
        {% if section.settings.heading_position == 'bottom' and section.settings.subtitle != blank %}
          <span class="section-heading__sub_title">{{- section.settings.subtitle -}}</span>
        {% endif %}
        <h2 class="section-heading__title {% if section.settings.heading_position == "top" and section.settings.subtitle != blank and section.settings.border_line %}heading__space--bottom{% endif %} ">
          {{- section.settings.heading -}}
        </h2>
        {% if section.settings.heading_position == 'top' and section.settings.subtitle != blank %}
          <span class="section-heading__sub_title">{{- section.settings.subtitle -}}</span>
        {% endif %}
      </div>
    {% endif %}
    <div class="multiple__collection--wrapper">
      <div class="multiple__collection--horizontal">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'multiple_collection' %}
              <div
                class="multiple__collection--items {% if section.settings.round_corner %}collection-card-radius {% endif %} collection-card-padding-{{ section.settings.card_padding_type }} {% if image_as_icon %}card--client-height{% endif %} color-{{ section.settings.color_scheme2 }}"
                style="
                      --collection-items-media-overlay-opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
                   {% if section.settings.overlay_gradient_color != blank %}
                      --gradient-overlay-color: {{ section.settings.overlay_gradient_color }};
                  {% endif %}
                "
              >
                <div class="multiple__collection--thumbnail">
                  {%- render 'collection-card',
                    image: block.settings.image,
                    collection: block.settings.collection,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_icon: section.settings.show_icon,
                    show_product_items: section.settings.show_product_items,
                    heading_size: section.settings.heading_size,
                    content_on_container: section.settings.content_on_container,
                    card_content_padding: section.settings.card_content_padding,
                    image_as_icon: section.settings.image_as_icon 
                  -%}
                </div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Multiple collection",
  "settings": [
    {
      "type": "select",
      "id": "container",
      "label": "Page width",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "Boxed"
        },
        {
          "value": "container-fluid",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_offset",
      "label": "Enable Offset (left & right)",
      "info": "It will work if you select the \"Full width\" of the page",
      "default": true
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "default": "Subtitle",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Multiple collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "bottom",
      "label": "Heading position"
    },
    {
      "type": "select",
      "id": "text_center",
      "options": [
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center",
      "label": "Alignment"
    },
    {
      "type": "header",
      "content": "Collection card"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.collection-list.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.collection-list.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.collection-list.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "Circle"
        }
      ],
      "default": "square",
      "label": "t:sections.collection-list.settings.image_ratio.label",
      "info": "t:sections.collection-list.settings.image_ratio.info"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ],
      "default": "h5",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "checkbox",
      "id": "show_product_items",
      "default": false,
      "label": "Show product items"
    },
    {
      "type": "checkbox",
      "id": "show_icon",
      "default": false,
      "label": "Show icon arrow"
    },
    {
      "type": "select",
      "id": "card_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Alignment",
      "info": "It will work if you disable the arrow icon."
    },
    {
      "type": "select",
      "id": "card_padding_type",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small",
      "label": "Card padding type on desktop"
    },
    {
      "type": "checkbox",
      "id": "content_on_container",
      "default": true,
      "label": "Stack the contents in the container"
    },
    {
      "type": "checkbox",
      "id": "round_corner",
      "label": "Round corner",
      "default": true
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Image overlay opacity",
      "default": 20,
      "info": "When an image gradient overlay is added, the opacity should be set to 100%, though this is not mandatory."
    },
    {
      "type": "color_background",
      "id": "overlay_gradient_color",
      "label": "Image gradient overlay"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme2",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 70
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 70
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Padding bottom",
      "default": 50
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ],
  "blocks": [
    {
      "type": "multiple_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "limit": 6,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.image-with-text.settings.image.label",
          "info": "Optional! Instead of the collection's image, the selected image will be displayed."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multiple collection",
      "category": "Collections",
      "blocks": [
        {
          "type": "multiple_collection"
        },
        {
          "type": "multiple_collection"
        },
        {
          "type": "multiple_collection"
        },
        {
          "type": "multiple_collection"
        },
        {
          "type": "multiple_collection"
        },
        {
          "type": "multiple_collection"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  }
}
{% endschema %}
